/*index*/
h1 {
  font-size: 32px;
  color: navy;
}

header img {
  border: 1px solid gray;
  margin: 10px;
}

nav ul {
  background-color: lightgray;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

footer {
  background-color: darkgray;
  color: white;
  text-align: center;
  padding: 10px;
}

/*introduccion*/
body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #f2f2f2;
  color: #333;
  margin: 0;
  padding: 0;
}
header {
  background-color:#0077cc;
  color: #fff;
  padding: 10px;
  text-align: center;
}
h1 {
  margin: 0;
  font-size: 36px;
}
p {
  margin: 20px;
  font-size: 18px;
  line-height: 1.5;
}

/*ejercicio*/
body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 20px;
}

label {
  font-size: 18px;
  margin-right: 20px;
}

input[type="number"] {
  font-size: 18px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 150px;
  margin-bottom: 20px;
}

button {
  background-color: #0077CC;
  color: #fff;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

canvas {
  width: 100%;
  height: auto;
}